body {
  background-color: rgb(141, 107, 56);
}

div {
  background-color: rgb(211, 162, 82);
  width: 432px;
  margin-left: 500px;
}

h2 {
  font-family: "Anton", sans-serif;
  margin-left: 50px;
}

p {
  font-family: "Noto Sans JP", sans-serif;
  text-transform: uppercase;
  margin-left: 50px;
}
.class2 {
  float: right;
  
}
